*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}

.content{width: 100%; padding: 120px 0;}
.inner{width: 1170px; margin: 0 auto;}

.login .title {text-align: center;}
.login .loginBox{
  width: 400px; padding: 45px; margin: 0 auto;
  border: 1px solid black;
}

.login .loginBox div {
  height: 40px; 
  display: flex; 
  justify-content: center; 
  font-size: 14px;
}

.login .loginBox .boxColor {
  border: 1px solid #ddd;
  padding: 0 5px 0 0;
  justify-content: flex-start;
}

.login .loginBox .boxColor.check{
  border: 3px solid rgb(71, 199, 71);
}

.login .loginBox .idBox{
  border-radius: 5px 5px 0 0;
}

.login .loginBox .pwBox{
  border-radius: 0 0 5px 5px;
}

.login .loginBox label{
  width: 80px;
  line-height: 40px;
  padding-left: 15px;
}

.login .loginBox input {
  width: calc(100%-50px);
  padding: 0 10px;
  border: 0;
  outline: none;
}

.login .loginBox .loginBtnBox #loginBtn{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border: none;
  background-color: #03c75a;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
}

.login .loginBox .errorMessage{
  margin-top: 10px;
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.login .bi{
  font-size: 18px;
  color: #999;
}